xlrd
bs4
weasyprint
openpyxl
pypdf
PyJWT
PyPDF2
PyMuPDF
reportlab
Pillow
Wand
pdf2image
fitz
pymysql
mysql-connector-python
pandas
cachetools
pymysql
aiofiles
aiohttp
barcode
python-barcode
pdfkit
unoconv